<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection1"
			 connectionString="Data Source=HUUQUYNH\MSSQL;Initial Catalog=TochuDb1;User ID=sa;Password=imip@1234;MultipleActiveResultSets=True;Trusted_Connection=False;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
		<add name="DefaultConnection"
			 connectionString="Data Source=QuynhNH;Initial Catalog=TochuDb1;User ID=sa;Password=imip@1234;MultipleActiveResultSets=True;Trusted_Connection=False;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>